on:
  issue_comment:
    types:
      - created
jobs:
  check-readme:
    uses: "sclorg/ci-actions/.github/workflows/check-readme.yml@main"
  container-tests:
    needs: check-readme
    uses: "sclorg/ci-actions/.github/workflows/container-tests.yml@main"
    with:
      enabled-tests: '["container","container-pytest","openshift-4","openshift-pytest"]'
      versions: '["2.4", "2.4-micro"]'
      openshift-versions: '["2.4"]'
    secrets: inherit

